*{
    padding: 0;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    font-family: "Open Sans", sans-serif;
}

/* Cummon style */
.container{
    max-width: 1200px;
    margin: auto;
}
.flex-item{
    display: flex;
}
a{
    text-decoration: none;
}
button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: 10px 25px;
}
.italic-style{
    font-style: italic;
}

/* header section */
.logo img{
    max-width: 110px;
}
.menubar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.menu-items ul{
    list-style: none;
}
.menu-items a{
    color: #141414;
    padding: 10px 15px;
    font-size: 16px;
}

/* Banner Section */
.banner{
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
}
.banner h2{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin-top: 50px;
}
.banner p{
    color: #fff;
    max-width: 500px;
    margin: auto;
    font-size: 14px;
    margin-top: 20px;
}
.banner button{
    margin-top: 100px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 40px;
}

/* Speaker Section */
.speaker{
    padding: 70px 0px;
}
.speaker h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
}
.speaker-item{
    display: inline-block;
    object-fit: cover;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}
.speaker-item img{
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.speakers-info{
    padding: 15px 15px;
}
.speakers-info a{
    color:#2563EB;
}
.speakers-info p{
    font-size: 15px;;
    color: #575757;
    padding: 10px 0px;
}

/* pricing */
.pricing{
    margin-bottom: 100px;
}
.pricing-head h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.pricing-head p{
    font-size: 15px;;
    color: #575757;
    text-align: center;
}
.pricing-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}
.pricing-item{
    background-color: #ffffff;
    padding: 35px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(49, 49, 49, 0.2);
}
.pricing-item h2{
    font-size: 45px;
}
.pricing-item h5{
    color: #888888;
    text-transform: uppercase;
}
.pricing-item h6{
    border-bottom: 0.5px solid #d4d4d6;
    padding-bottom: 20px;
    color: #888888;
    font-weight: 500;
}
.pricing-card ul{
    padding-top: 20px;
    margin-left: 20px;
}
.pricing-card li{
    color: #333;
    padding: 5px 0px;
}
.pricing-button a{
    color: #2563EB;
    font-weight: 600;
}
.pricing-button{
    text-align: center;
    border: 1px solid #2563EB;
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 30px;  
}
.highlight{
    background-color: #333333;
}
.highlight h2{
    color: #fff;
}
.highlight h5{
    color: #93C5FD;
}
.highlight li{
    color: #fff;
}
.highlight li::marker {
  color: #2563EB; /* Changes only the bullet color */
}
.highlight-button{
    border: 1px solid #2563EB;
    background-color: #2563EB;
}
.highlight-button a{
    color: #fff;
}

/* end of pricing */

/* sponsor section */
.sponsor{
    background-image: url(./assets/sponsor-bg.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 100px 0px;
}
.sponsor-head h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.sponsor-head p{
    font-size: 15px;;
    color: #575757;
    text-align: center;
    margin-top: 10px;
}
.sponsors-item{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* Footer section */
footer{
    background-color: #0D1B2A;
    padding: 30px 0px;
    color: #fff;
}
.footer, .footer-right ul{    
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 200;
    font-size: 14px;
}
.footer-right a{
    color: #fff;
    padding: 0px 10px; 
}



